.aircraft-card {
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 1.875rem;
    &__slider {
        .swiper-slide {
            height: 266px;
            cursor: pointer;
            /* @media (min-width: $laptop-breakpoint) {
                height: 366px;
            } */
        }
        .swiper-pagination {
            .swiper-pagination-bullet {
                background: $white;
                opacity: 0.5;
            }
            .swiper-pagination-bullet-active {
                background: $primary;
                opacity: 1;
            }
        }
    }
    &__title {
        h3 {
            font-size: 1.5rem;
            letter-spacing: -0.031rem;
            font-weight: 400;
            margin: 0;
            padding: 1.8rem 1.5rem;
            border-bottom: 1px solid #E4E4E4;
            text-align: center;
            @media (min-width: $mobile-breakpoint) {
                padding: 2.1rem 2.813rem;
                text-align: left;
            }
            a {
                display: inline-block;
                transition: all 0.3s;
                &:hover {
                    opacity: 0.7;
                    @media (min-width: $mobile-breakpoint) {
                        transform: translateX(5px);
                    }
                }
            }
        }
    }
    &__list {
        display: flex;
        align-items: center;
        flex-direction: column;
        @media (min-width: $mobile-breakpoint) {
            flex-direction: row;
        }
        &-item {
            width: 100%;
            flex-basis: 100%;
            text-align: center;
            padding: 0.625rem 0.313rem;
            border-bottom: 1px solid #E4E4E4;
            @media (min-width: $mobile-breakpoint) {
                width: auto;
                border-bottom: none;
                border-right: 1px solid #E4E4E4;
            }
            &:last-child {
                border-right: none;
            }
            > * {
                display: block;
                font-size: 0.938rem;
                letter-spacing: -0.031rem;
            }
            &--more {
                @extend .aircraft-card__list-item;
                min-height: 3.75rem;
                margin-right: 2rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                
                a {
                    font-size: 1.25rem;
                    display: flex;
                    align-items: center;
                    transition: all 0.3s;
                    &:hover {
                        opacity: 0.7;
                        @media (min-width: $mobile-breakpoint) {
                            transform: translateX(-5px);
                        }
                    }
                }
                svg {
                    margin-left: 0.5rem;
                    margin-bottom: -2px;
                }
            }
        }
    }
}