.aircraft-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: $mobile-breakpoint) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
}