.contact-form {
  display: flex;
  flex-direction: column;
  &__row {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__label {
    font-size: 1rem;
    font-weight: 300;
    color: $dark;
    margin-bottom: 1rem;
    display: block;
  }
  &__input {
    width: 100%;
  }
  &__submit {
    box-shadow: none;
    align-self: flex-end;
  }
  &__error {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.3rem;
    .svg-inline--fa {
      font-size: 1.1rem;
    }
  }
  &__success {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.3rem;
    .svg-inline--fa {
      font-size: 1.1rem;
    }
  }
}
