.contact-form {
    display: flex;
    flex-direction: column;
    &__row {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__label {
        font-size: 0.9rem;
        font-weight: 300;
        color: $dark-blue;
        margin-bottom: 1rem;
        display: block;
        opacity: 0.8;
    }
    &__input {
        font-size: 1rem;
        width: 100%;
        background-color: rgb(248, 247, 247);
        border-radius: 5px;
        border: none;
        padding: 0.5rem 0.7rem;
    }
    &__submit {
        box-shadow: none;
        align-self: flex-end;
    }
}