.gallery {
  border-radius: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16/9;
  &__slider {
    height: 100%;
    .swiper-wrapper {
      background-color: #fff;
    }
    .swiper-slide {
      cursor: pointer;
      &:hover {
        .thumbnail-icon {
          transform: translate(-50%, -50%) scale(1.04);
          opacity: 1;
          transition: all 0.1s ease-in-out;
        }
      }
      .thumbnail-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        opacity: 0.9;
        transition: all 0.1s ease-in-out;
        pointer-events: none;
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background: $white;
      opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
      background: $primary;
      opacity: 1;
    }
  }
  &__wrapper {
    @extend .gallery;
    position: relative;
    overflow: visible;
    .blob {
      position: absolute;
      height: auto;
      svg {
        width: 100%;
        height: auto;
      }
      &-1 {
        width: 50%;
        left: -10%;
        bottom: -10%;
        @media (min-width: $mobile-breakpoint) {
          bottom: -20%;
        }
      }
      &-2 {
        width: 30%;
        right: -10%;
        bottom: -5%;
        @media (min-width: $mobile-breakpoint) {
          right: 8%;
          bottom: -12%;
        }
      }
      &-3 {
        width: 30%;
        left: 5%;
        top: -8%;
        @media (min-width: $mobile-breakpoint) {
          left: 20%;
          top: -10%;
        }
      }
    }
  }
}
