.header {
  position: fixed;
  width: 100%;
  height: $header-height-mobile;
  z-index: 3;
  transition: 0.3s ease all;
  background-color: $white;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  &.transparent {
    background-color: transparent;
    box-shadow: none;
    @media (min-width: $mobile-breakpoint) {
      height: $header-height-desktop;
    }
    .header__toggle {
      span {
        background-color: $white;
      }
    }
    .header__link-list-item {
      span,
      a {
        @media (min-width: $mobile-breakpoint) {
          color: $white;
        }
      }
    }
    .header__socials {
      a {
        @media (min-width: $mobile-breakpoint) {
          color: $white;
        }
      }
      .fa-envelope {
        @media (min-width: $mobile-breakpoint) {
          color: $white;
        }
      }
    }
    .header__link-list-submenu {
      @media (min-width: $mobile-breakpoint) {
        margin-top: 0;
      }
    }
    .header__link-list-subitem {
      a {
        @media (min-width: $mobile-breakpoint) {
          color: $dark-blue;
        }
      }
    }
  }
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 7.875rem;
    height: auto;
    @media (min-width: $mobile-breakpoint) {
      width: 9.125rem;
    }
    a {
      display: block;
      line-height: 0;
    }
  }
  &__nav {
    top: $header-height-mobile;
    right: 100%;
    bottom: 0;
    width: 100%;
    height: calc(100vh - $header-height-mobile);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $white;
    backdrop-filter: blur(2px);
    transform: translate(0);
    transition: 0.3s ease transform;
    @media (min-width: $mobile-breakpoint) {
      top: 0;
      right: auto;
      width: auto;
      height: 100%;
      position: relative;
      flex-direction: row;
      background: transparent;
      backdrop-filter: none;
    }
    &.isMenu {
      transform: translate(100%);
    }
  }
  &__link-list {
    width: 100%;
    margin-bottom: 0.5rem;
    @media (min-width: $mobile-breakpoint) {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      height: 100%;
    }
  }
  &__link-list-item {
    span,
    a {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: $secondary;
      }
      @media (min-width: $mobile-breakpoint) {
        font-size: 0.95rem;
      }
    }
    @media (min-width: $mobile-breakpoint) {
      height: 100%;
      position: relative;
    }
  }
  &__socials {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    a {
      font-size: 1.5rem;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      transition: color 0.3s;
      &:last-child {
        @media (min-width: $mobile-breakpoint) {
          padding-right: 0;
        }
      }
      &.facebook {
        font-size: 1.325rem;
        @media (min-width: $mobile-breakpoint) {
          font-size: 1rem;
        }
      }
      &:hover {
        color: $secondary;
      }
      @media (min-width: $mobile-breakpoint) {
        font-size: 1.1rem;
        padding: 0 0.5rem;
      }
    }
    .fa-envelope {
      transition: color 0.3s;
      cursor: pointer;
      font-size: 1.4rem;
      margin: 0 1rem;
      &:hover {
        color: $secondary;
      }
      @media (min-width: $mobile-breakpoint) {
        font-size: 1.1rem;
        margin: 0 0.5rem;
      }
    }
    @media (min-width: $mobile-breakpoint) {
      width: auto;
      padding-left: 2rem;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
  &__toggle {
    @media (min-width: $mobile-breakpoint) {
      display: none;
    }
    button {
      border: 0;
      background: none;
      padding: 0;
      margin: 0;
      display: block;
    }
    span {
      display: block;
      width: 28px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: $dark-blue;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 95%;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(45deg);
        }
      }
    }
  }
  &__link-list-container {
    @media (min-width: $mobile-breakpoint) {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  &__link-list-submenu {
    overflow: hidden;
    max-height: 200px;
    border-radius: 0.6rem;
    background-color: $white;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    &.closed {
      max-height: 0px;
      transform: translateY(0);
      @media (min-width: $mobile-breakpoint) {
        margin-top: 0;
        box-shadow: none;
      }
    }
    @media (min-width: $mobile-breakpoint) {
      margin-top: 1rem;
      white-space: nowrap;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    }
  }
  &__link-list-subitem {
    a {
      font-size: 1rem;
      @media (min-width: $mobile-breakpoint) {
        font-size: 0.95rem;
      }
    }
  }
  &__link-list-subitem:first-of-type {
    a {
      padding-top: 1rem;
    }
  }
  &__link-list-subitem:last-of-type {
    a {
      padding-bottom: 1rem;
    }
  }
}
