.title-container {
    font-size: 2rem;
    .title {
        margin-bottom: 0.6em;
        letter-spacing: -1px;
    }
    @media (min-width: $mobile-breakpoint) {
        font-size: 3.125rem;
    }
}