.title-container {
    font-size: 2rem;
    hr {
        width: 3.38em;
        height: 4px;
        margin: 0 auto 0.4em 0;
        background: linear-gradient(90deg, #29A9CC 0%, #61BBD4 47.98%, #426A75 94.96%);
    }
    .title {
        margin-bottom: 0.6em;
        letter-spacing: -1px;
    }
    @media (min-width: $mobile-breakpoint) {
        font-size: 3.125rem;
    }
}