.title-container {
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: -2px;
    @media (min-width: $mobile-breakpoint) {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }
}
