$primary: #1cb0d9;
$primary-light: #61bbd4;
$secondary: #02a4d1;
$light-blue: #4d6e76;
$dark-blue: #2e545e;
$dark: #0e282f;
$light-gray: #f5f8fa;
$white: #ffffff;
$mobile-breakpoint: 992px;
$laptop-breakpoint: 1280px;
$header-height-mobile: 56px;
$header-height-desktop: 116px;
$transition-all: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$primary-font: "DM Sans", sans-serif;
$secondary-font: "Work Sans", sans-serif;
