$primary: #1CB0D9;
$primary-light: #61BBD4;
$secondary: #02A4D1;
$dark-blue: #2E545E;
$dark: #20292B;
$white: #ffffff;
$mobile-breakpoint: 992px;
$laptop-breakpoint: 1280px;
$header-height-mobile: 56px;
$header-height-desktop: 116px;